.div1{
    /* absolute top-0 left-0 z-10 h-[300px] w-[100%]  */
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    height: 300px;
    width: 100%;
    background-color: rgba(42, 52, 71, 0.9);
    backdrop-filter: blur(0.5px);
    box-shadow: 0 0 40px rgba(8,7,16,0.16);
    display: flex;
}